.upperNavBarContainer {
    display: flex;
    background-color: red;
    width: 100%;
    flex: 2;
    justify-content: space-between;
    align-items: center;
}

.locationHeaderContainer {
    display: flex;
    align-items: center;
}

.premiumButtonStyle {
    display: flex;
    outline-style: none;
    border-style: none;
    height: 50%;
    color: red;
    font-weight: bold;
    border-radius: 0.7rem;
    font-size: 0.75rem;
    width: 7.5rem;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.tripleElementContainer {
    display: flex;
    background-color: green;
    width: 10rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}