.upperNavBarContainer {
    display: flex;
    /* background-color: red; */
    width: 100%;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5ca5f3;
}

.locationHeaderContainer {
    display: flex;
    align-items: center;
    /* background-color: grey; */
    width: 100%;
    justify-content: center;
}

.premiumButtonStyle {
    display: flex;
    outline-style: none;
    border-style: none;
    height: 40%;
    color: red;
    font-weight: bold;
    border-radius: 0.7rem;
    font-size: 0.6rem;
    width: 6rem;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.tripleElementContainer {
    display: flex;
    /* background-color: green; */
    width: 10rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}