

.currentConditionsCompContainer {
    display: flex;
    min-height: 21rem;
    flex-direction: column;
    width: 100%;
    background-color: brown;
}

.currentConditionsHeaderContainer {
    display: flex;
    height: 2rem;
    width: 100%;
    background-color: blueviolet;
}