.upperTwoDayForecastCompContainer {
    display: flex;
    width: 100%;
    min-height: 7.4rem;
    /* background-color: pink; */
    align-items: center;
    justify-content: center;
    color: white;
}

.innerForecastRowContainer {
    display: flex;
    height: 80%;
    width: 95%;
    /* background-color: aquamarine; */
}

.forecastColumnDivider {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    border-right: 1px solid #2995f3;

}

.forecastColumnDividerLast {
    display: flex;
    height: 100%;
    flex: 2;
    justify-content: center;
    flex-direction: column;
}