.moonSunHeadingCompContainer {
    display: flex;
    background-color: bisque;
    height: 3.5rem;
    width: 100%;
    justify-content: space-between;
}

.iconImageContainer {
    display: flex;
    height: 100%;
    background-color: lightgreen;
    width: 4rem;
}

.hourMinuteTextLabelContainer {
    display: flex;
    height: 100%;
    background-color: red;
    width: 4rem;
}