.infoDetailHorizCompContainer {
    display: flex;
    height: 2.8rem;
    width: 100%;
    color: white;
    /* background-color: violet; */
    justify-content: space-between;
    border-bottom: 1px solid #2794f3;
}

.labelValueContainer {
    display: flex;
    width: 9rem;
    /* background-color: grey; */
    align-items: center;
}


.infoValueContainer {
    display: flex;
    width: 10rem;
    font-weight: bold;
    font-size: 1.05rem;
    /* background-color: bisque; */
    justify-content: flex-end;
    align-items: center;
}