.innerContentContainer {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 5.5rem;
}

.iconDegreeContainer {
    display: flex;
}

.biggerMoonWithCloudStyle {
    display: flex;
    height: 2rem;
    width: 2rem;
}
